- content_for :left_head do
  %h2 Reset Password

- content_for :right_head do
  %h2 Help

- content_for :right_body do
  %p This is what is happening.
  %ul
    %li Enter your email address. 
    %li Press Reset.
    %li Open your email and click the link that was sent to you.
    %li Choose a new password.

- content_for :left_body do
  %p Please enter your email address below and then press "Reset Password".

  - form_tag password_resets_path do
    %p
      = label_tag :email, "Your Email Address:"
      %br
      = text_field_tag :email, nil, :class => 'text large'
    %p
      = submit_tag "reset", :class => 'submit large'
