h1 span {
  font-size: 10px;
  float: right; }

#left {
  float: left; }

#right {
  float: right; }

#menu {
  clear: both;
  float: right;
  margin: -40px 0 0 0; }
  #menu a {
    float: left;
    margin: 0 3px 0 3px; }
  #menu a span {
    font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
    color: white;
    display: block;
    text-align: center;
    background: url("/images/theme/btns.gif");
    background-repeat: no-repeat;
    width: 85px;
    height: 40px; }
  #menu a.active span {
    color: #555555;
    background: url("/images/theme/btns_fade.gif");
    background-repeat: no-repeat; }

a.more_link span {
  font-size: 13px;
  font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
  color: white;
  display: block;
  text-align: center;
  background: url("/images/theme/btns.gif");
  background-repeat: no-repeat;
  width: 85px;
  height: 40px; }

.block .block_content table.messages {
  border-collapse: collapse; }

.block .block_content table.messages tr {
  background-color: #fbfbfb; }

.block .block_content table.messages th.admin {
  border-top: 0.5px solid #b55f10;
  border-left: 0.5px solid #b55f10;
  border-right: 0.5px solid #b55f10; }

.block .block_content table.messages td.admin {
  border-bottom: 0.5px solid #b55f10;
  border-left: 0.5px solid #b55f10;
  border-right: 0.5px solid #b55f10; }

.block .block_content table.messages th {
  text-align: center;
  color: #008ee8;
  font-size: 3em;
  border-bottom: none;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd; }

.block .block_content table.messages td {
  font-size: 0.9em;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd; }
