#left {
  float: left; }

#right {
  float: right; }

.block .block_content table.messages {
  border-collapse: collapse; }

.block .block_content table.messages tr {
  background-color: #fbfbfb; }

.block .block_content table.messages th.admin {
  border-top: 0.5px solid #b55f10;
  border-left: 0.5px solid #b55f10;
  border-right: 0.5px solid #b55f10; }

.block .block_content table.messages td.admin {
  border-bottom: 0.5px solid #b55f10;
  border-left: 0.5px solid #b55f10;
  border-right: 0.5px solid #b55f10; }

.block .block_content table.messages th {
  text-align: center;
  color: #008ee8;
  font-size: 3em;
  border-bottom: none;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd; }

.block .block_content table.messages td {
  font-size: 0.9em;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd; }
