- %W(style style_plus jquery.wysiwyg facebox visualize date_input fullcalendar jquery.fancybox-1.3.1).each do |css|
  = stylesheet_link_tag css
/
  [if IE]><meta http-equiv="X-UA-Compatible" content="IE=7" /><![endif]
/
  [if lt IE 8]><style type="text/css" media="all">@import url("css/ie.css");</style><![endif]
/
  [if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]

- %W( jquery jquery.img.preload jquery.filestyle.mini jquery.livequery jquery.wysiwyg jquery.date_input.pack jquery.ui.core facebox jquery.visualize jquery.select_skin jquery.pngfix custom fullcalendar.min more_paginate jquery.fancybox.pack application).each do |js|
  = javascript_include_tag js

:plain
  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};
    feedback_widget_options.display = "overlay";  
    feedback_widget_options.company = "time_off";
    feedback_widget_options.placement = "right";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>
