%ul#nav
  %li
    %a{ :href => "#" }
      Dashboard
  %li.active
    %a{ :href => "#" }
      Pages
    %ul
      %li
        %a{ :href => "#" }
          List pages
      %li
        %a{ :href => "#" }
          Add page
      %li
        %a{ :href => "#" }
          More actions
        %ul
          %li
            %a{ :href => "#" }
              Some action
          %li
            %a{ :href => "#" }
              Some action
          %li
            %a{ :href => "#" }
              Some action
            %ul
              %li
                %a{ :href => "#" }
                  Some action
              %li
                %a{ :href => "#" }
                  Some action
              %li
                %a{ :href => "#" }
                  Some action
  %li
    %a{ :href => "#" }
      Posts
  %li
    %a{ :href => "#" }
      Media
    %ul
      %li
        %a{ :href => "#" }
          List media
      %li
        %a{ :href => "#" }
          Add media
      %li
        %a{ :href => "#" }
          Something else
  %li
    %a{ :href => "#" }
      Users

