%ul#nav
  %li= link_to 'calendar', '#'
  - if current_user == @account.owner
    %li= link_to 'dashboard'
    %li 
      admin
      %ul
        %li= link_to 'settings'
        %li= link_to 'billing'
