%ul#nav
  - if @account and current_user and current_user.manager?
    %li= link_to 'Dashboard', @account
    %li= link_to 'Settings', edit_account_url(@account)
    - if  current_user.root?
      %li= link_to 'etc', root_accounts_path
