<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>

  <body>

    <h1>Request Approved!</h1>
    <table>
      <tr>
        <td>Time Off:</td>
        <td><%= @dayoff.begin_time.to_s + @dayoff.end_time.to_s%></td>
      </tr>
      <tr>
        <td>Approved By:</td>
        <td><%= @dayoff.reviewed_by %></td>
      </tr>
      <tr>
        <td>Notes:</td>
        <td><%= @dayoff.action_notes %></td>
      </tr>
    </table>

  </body>

</html>
