-content_for :block_head do
  %h2 How to Pay for Time Off

%p 
  Right now we are focusing all of the development effort on the Time Off Tracking.
  %br
  So, we are only accepting payment by check at the moment.

%p Please Make Checks Payable To:
%strong 
  Wonder Set LLC.
  %br
  205 E. 65th St.
  %br
  Kansas City, MO 64115

